.device-info {
    position: relative;
    bottom: 30px;
    font-size: 12px;
    line-height: 14px;
    text-transform: initial;
}

.apps {
    margin: auto;
    text-align: center;
}

@media (max-width: 992px) {
    .apps {
        margin: 0;
    }

    .lateral-scroll {
        max-width: 100%;
    }
}