body {
    margin: 0px;
}

.flex-container {
    background-image: url("https://images.unsplash.com/photo-1583841549298-ac61d2378c73");
    display: flex;
}

div.flex-container {
    height: calc(100vh);
    width: 100%;
}

h1 {
    margin: auto;
    font-size: 5.25em;
    color: white;
}

.forms-rd, .form-hs {
    background-color: transparent;
    width: 50%;
    height: 100%;   
    padding: 12px;
    margin-top: 30px;
}

.form-hs {
    background-color: white;
}

div[role=main] {
    max-width: 480px;
    margin: auto;
}
