{% extends "base.html" %}
{% block title %}Despesas{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
{% endblock %}
{% block extra-js %}
    <script src="{% static 'expenses.js' %}"></script>
    <script src="{% static 'general-table.js' %}"></script>
    <script src="{% static 'expenses-table.js' %}"></script>
    <script src="{% static 'edit-modal.js' %}"></script>
    <script src="{% static 'services-dict.js' %}"></script>
    {% endblock %}

{% block content%}
<div class="txt-center m-b-24 light">
    <h1 class="s3 m-0 m-b-24">Despesas</h1>
</div>
<div id="table-list" class="m-6 m-b-24">
</div>
<div class="fl-l btn-full m-b-24">
    <a class="btn shadow light m-b-12" href="/recurring-payments">Despesas recorrentes</a>
    <a class="btn shadow light m-b-12" href="/finance-dashboard">Dashboard</a>
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
<script>
    let counter = 1
    let expenses = []
    let obj, dd, mm
    '{% for r in rows %}'
        dd = '{{ r.date.day }}'.padStart(2, '0')
        mm = '{{ r.date.month }}'.padStart(2, '0')    
        obj = {
            'id': {{ r.id }},
            'name': '{{ r.name }}',
            'type': '{{ r.type }}',
            'recurring': '{{ r.recurring  }}' === 'True',
            'value': {{ r.value }},
            'date': `{{ r.date.year }}-${mm}-${dd}`
        }
        expenses.push(obj)
    '{% endfor %}'

    const token = `{% csrf_token %}`
    const forms = `{{ form }}`
    const div = document.querySelector('#table-list')
    addExpensesTable(div)
</script>
{% endblock %}