{% extends "base.html" %}
{% block title %}Gestão financeira{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'finance-styles.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'monthly-summary.js' %}"></script>
    <script src="{% static 'edit-modal.js' %}"></script>
    <script src="{% static 'services-dict.js' %}"></script>
    {% endblock %}

{% block content%}
<div class="txt-center m-b-24 light">
    <h1 id="title" class="s3 m-0 m-b-24">Esse mês</h1>
</div>
<div class="txt-center m-b-24">
    <div id="summary" class="m-b-24 header-scroll">
    </div>
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
<script>
    const token = `{% csrf_token %}`
    const date = new Date()
    const div = document.querySelector('#summary')

    let expenses = {}
    '{% for k,v in expenses.items %}'
        expenses['{{ k }}'] = {{ v }}
    '{% endfor %}'
    
    let savings = {}
    '{% for k,v in savings.items %}'
        savings['{{ k }}'] = {{ v }}
    '{% endfor %}'

    let dd, mm
    let goals = {}
    '{% for l in limit %}'
        dd = '{{ l.date.day }}'.padStart(2, '0')
        mm = '{{ l.date.month }}'.padStart(2, '0')
        goals[`{{ l.date.year }}-${mm}-${dd}`] = [{{ l.expenses }}, {{ l.savings }}]
    '{% endfor %}'

    yyyy = String(date.getFullYear())
    mm = String(date.getMonth() + 1).padStart(2, '0')
    
    setupPage()
    </script>
{% endblock %}