{% extends "base.html" %}
{% block title %}Gestão financeira{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'finance-styles.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'monthly-summary.js' %}"></script>
    <script src="{% static 'dashboard-cards.js' %}"></script>
    <script src="{% static 'edit-modal.js' %}"></script>
    <script src="{% static 'finance-chart.js' %}"></script>
    <script src="{% static 'general-table.js' %}"></script>
    <script src="{% static 'savings-summary-table.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    {% endblock %}

{% block content%}
<div class="txt-center m-a m-b-24 light w-400">
    <i id="previous" class=" fl-l material-icons icon-hover icon-adjust p-12 light">arrow_back</i>
    <i id="next" class="fl-r material-icons icon-hover icon-adjust p-12 light">arrow_forward</i>
    <h1 id="title" class="s3 m-a m-b-24">
        <span id="title-text">Esse mês</span>
        <span id="title-month-value" class="hide"></span>
        <span id="title-year-value" class="hide"></span>
    </h1>
</div>
<div class="txt-center m-b-24">
    <div id="summary" class="m-b-24 header-scroll"></div>
</div>
<div class="m-b-24 light">
    <h2 class="s6 db-results m-b-12 txt-center">Detalhes</h2>
</div>
<div id="chart" class="shadow summary-card chart-card">
    <!-- <h3 class="s8 txt-center">Despesas</p> -->
    <canvas id="expense-chart"></canvas>
</div>
<div id="details">
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
<script>
    adjustSideScroll()
    const token = `{% csrf_token %}`
    const date = new Date()
    const div = document.querySelector('#summary')
    const formExpense = `{{ form_expense }}`
    const formSaving = `{{ form_saving }}`
    const formGoal = 'pending'

    let expenses = {}
    let expenseValues = []
    '{% for k,v in expenses.items %}'
        expenses['{{ k }}'] = {{ v }}
        expenseValues.push({{ v }})
    '{% endfor %}'
    
    let savings = {}
    '{% for k,v in savings.items %}'
        savings['{{ k }}'] = {{ v }}
    '{% endfor %}'

    let goals = {}
    let goalExpValues = []
    '{% for k, v in goals.items %}'
        goals['{{ k }}'] = [{{ v.0 }}, {{ v.1 }}]
        goalExpValues.push({{ v.0 }})
    '{% endfor %}'

    let goalBalances = {}
    '{% for k, v in goal_balances.items %}'
        goalBalances['{{ k }}'] = {{ v }}
    '{% endfor %}'
    
    setupPage()
</script>
{% endblock %}