{% extends "base.html" %}
{% block title %}Gestão financeira{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'finance-styles.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'monthly-summary.js' %}"></script>
    {% endblock %}

{% block content%}
<div class="txt-center m-b-24">
    <div id="summary" class="m-b-24 header-scroll">
    </div>
</div>
<div class="fl-l btn-full">
    <a class="btn shadow light m-b-12" href="/expenses">Despesas</a>
    <a class="btn shadow light m-b-12" href="/savings">Economias</a>
    <a class="btn shadow light m-b-12" href="/goals">Metas</a>
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
<script>
    const container = document.querySelector('.default-margin-bg')
    container.style.margin = '0'
    let expenses = {}
    '{% for k,v in sum.items %}'
        expenses['{{ k }}'] = {{ v }}
    '{% endfor %}'
    
    let dd, mm
    let goals = {}
    '{% for l in limit %}'
        dd = '{{ l.date.day }}'.padStart(2, '0')
        mm = '{{ l.date.month }}'.padStart(2, '0')
        goals[`{{ l.date.year }}-${mm}-${dd}`] = {{ l.expenses }}
    '{% endfor %}'

    const date = new Date()
    yyyy = String(date.getFullYear())
    mm = String(date.getMonth() + 1).padStart(2, '0')

    const div = document.querySelector('#summary')
    const sum = expenses[`${yyyy}-${mm}-01`].toFixed(2)
    const limit = goals[`${yyyy}-${mm}-01`].toFixed(2)
    const balance = limit - sum
    new ExpenseCard(div, sum, limit, balance)
</script>
{% endblock %}