{% extends "base.html" %}
{% block title %}Metas{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
{% endblock %}
{% block extra-js %}
{% endblock %}

{% block content%}
<div class="txt-center m-b-24 light">
    <h1 class="s3 m-0 m-b-24">Metas</h1>
</div>
<div id="table-list" class="m-6 m-b-24">
</div>
<div class="fl-l btn-full">
    <a class="btn shadow light m-b-12" href="/expenses">Despesas</a>
    <a class="btn shadow light" href="/">Voltar</a>
</div>
<script>
</script>
{% endblock %}