{% extends "base.html" %}
{% block title %}Economias{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
{% endblock %}
{% block extra-js %}
    <script src="{% static 'expenses.js' %}"></script>
    <script src="{% static 'general-table.js' %}"></script>
    <script src="{% static 'savings-table.js' %}"></script>
    <script src="{% static 'edit-modal.js' %}"></script>
{% endblock %}

{% block content%}
<div class="txt-center m-b-24 light">
    <h1 class="s3 m-0 m-b-24">
        <a href="/finance-dashboard" class="clean-a">
            <i class="material-icons icon-hover icon-adjust p-12 light">arrow_back</i>
        </a>Economias
    </h1>
</div>
<div id="table-list" class="m-6 m-b-24">
</div>
<div class="fl-l btn-full">
    <a class="btn shadow light m-b-12" href="/finance-dashboard">Resumo</a>
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
<script>
    let counter = 1
    let savings = []
    let obj, dd, mm
    '{% for r in rows %}'
        dd = '{{ r.date.day }}'.padStart(2, '0')
        mm = '{{ r.date.month }}'.padStart(2, '0')
        obj = {
            'id': {{ r.id }},
            'name': '{{ r.name }}',
            'objective': '{{ r.objective }}',
            'value': {{ r.value }},
            'date': `{{ r.date.year }}-${mm}-${dd}`
        }
        savings.push(obj)
    '{% endfor %}'

    const token = `{% csrf_token %}`
    const forms = `{{ form }}`
    const div = document.querySelector('#table-list')
    addSavingsTable(div)
</script>
{% endblock %}