{% extends "base.html" %}

{% block extra-css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tic-tac-toe.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'tic-tac-toe.js' %}"></script>
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160266184-1"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-160266184-1');
</script>

{% block title %}Tic tac toe{% endblock %}

{% block content %}
    <div id="game"></div>
    <script>
        createGame()
    </script>
{% endblock %}
