{% extends "base.html" %}
{% load static %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tic-tac-toe.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'tic-tac-toe.js' %}"></script>
{% endblock %}

{% block title %}Tic tac toe{% endblock %}

{% block content %}
    <div id="game"></div>
    <div class="footer-btn fl-r">
        <a class="btn light m-b-12" href="/">Início</a>
    </div>
    <script>
        createGame()
    </script>
{% endblock %}
