<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160266184-1"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-160266184-1');
   _gaq.push(['_setAccount', 'UA-160266184-1']);
   _gaq.push(['_setCampNameKey', 'ga_campaign']);    // name
   _gaq.push(['_setCampMediumKey', 'ga_medium']);    // medium
   _gaq.push(['_setCampSourceKey', 'ga_source']);    // source
   _gaq.push(['_setCampTermKey', 'ga_term']);        // term/keyword
   _gaq.push(['_setCampContentKey', 'ga_content']);  // content
   _gaq.push(['_setCampNOKey', 'ga_nooverride']);    // don't override
   _gaq.push(['_trackPageview']);
</script> -->
<!-- End Google Analytics -->

<!-- Global site tag (ga.js) - Google Analytics -->
<script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-160266184-1']);
   _gaq.push(['_trackPageview']);
 
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
 
 </script>
<!-- End Google Analytics-->