{% extends "base.html" %}
{% block title %}Análise Momentum{% endblock %}

{% load static %}
{% block extra-js %}
    <script src="{% static 'recomendation.js' %}"></script>
{% endblock %}

{% block content%}
    <div>
        <h1 class="s3 p-12 light txt-center m-b-12">Momentum Ibovespa</h1>
        <form class="w-300 txt-center m-a m-b-12">
            <input type="date" name="comparison-date" id="comp-date">
        </form>
        <div id="recomendation"></div>
        <button class="btn m-b-24" onclick=getRecomendation()>Gerar recomendação</button>
        <div id="message"></div>
    </div>
{% endblock %}
