{% extends "base.html" %}
{% block title %}Momentum{% endblock %}

{% load static %}

{% block content%}
<div class="m-a">
    <div class="txt-center m-b-24 light">
        <h1 class="s3 p-12 m-b-12">Momentum</h1>
        <p id="info" class="s8 p-12 token w-300 m-a">Ref: {{ stocks.0.month }}</p>
    </div>
    {% for s in stocks %}
    <div id="{{ s.code  }}"class="db-results p-card shadow p-24">
        <div class="card-btn" href="s/{{ s.code  }}">
            <p class="s9 str blue m-b-0">{{ s.code }}</p>
            <p class="s9 light-gray m-0">Crescimento: {{ s.growth }}x</p>    
            <p class="s9 light-gray m-0">Preço: R${{ s.value }}</p>    
        </div>
    </div>
    {% endfor %}
</div>
<a class="btn shadow light" href="/dashboard">Voltar</a>
{% endblock %}