{% extends "base.html" %}
{% block title %}Momentum{% endblock %}

{% load static %}
{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'stock-styles.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'recommendation-actions.js' %}"></script>
    <script src="{% static 'recommendation-obj.js' %}"></script>
{% endblock %}

{% block content%}
<div class="m-b`-24">
    <div class="txt-center m-b-24 light">
        <h1 class="s3 m-0 m-b-24">Recomendações</h1>
        <p class="db-results s8 p-12 token light txt-center m-b-24">Atualizado em: {{ stocks.0.month.day }}/{{ stocks.0.month.month }}/{{ stocks.0.month.year }}</p>

    </div>
    <div id="recommendations"></div>
</div>
<a class="btn shadow light" href="/wallet">Voltar</a>
<script>
    let recommendations = {}
    '{% for s in stocks %}'
        recommendations.{{ s.code }} = {
            growth: {{ s.growth }},
            active: '{{ s.active }}' === "True",
            price: {{ s.value }}
        }
    '{% endfor %}'
    setupRecommendations()
</script>
{% endblock %}