{% extends "base.html" %}
{% block title %}{{ user }}{% endblock %}
{% load static %}
{% block content%}
<div class="half-view fl-l">
    <h1 class="s3 p-12 light txt-center m-b-24">Carteira</h1>
    {% for s in stocks %}
    <div class="db-results p-card shadow p-24">
        <p class="s9 str blue m-b-0">{{ s.code }} ({{ s.quantity }})</p>
        <p class="s9 light-gray m-0">Preço médio de compra: R${{ s.wighted_average_cost }}</p>
    </div>
    {% endfor %}
</div>
<div class="half-view fl-r">
    <h2 class="s3 txt-center m-b-24 light">Novo contato:</h2>
    <form id="rd-int-form" class="form-group" action='/update-wallet' method="post">
        {% csrf_token %}
        {{ form }}
        <input id="input-btn" type="submit" value="Converter" class="btn shadow btn-full">
    </form>
</div>
<script>
    document.getElementById("input-btn").addEventListener("click", greeting);
</script>
{% endblock %}