{% extends "base.html" %}
{% block title %}{{ user }}{% endblock %}

{% load static %}
{% block extra-js %}
    <script src="{% static 'stock-actions.js' %}"></script>
    <script src="{% static 'stock-prices.js' %}"></script>
{% endblock %}

{% block content%}
<div class="m-a">
    <div class="txt-center m-b-24 light">
        <h1 class="s3 p-12 m-b-12">Carteira</h1>
        <p id="info" class="s8 p-12 token w-300 m-a"></p>
    </div>
    <div id="new-purchase" class="db-results p-card shadow m-b-24 p-24">
        <div class="card-btn">
            <i class="material-icons menu-icon fl-r dark no-hover">add</i>
            <p class="s9 str dark m-b-0">Adicionar nova ação ou cotas</p>
            <p class="s9 light-gray m-0">Clique para adicionar</p>    
        </div>
    </div>
    {% for s in stocks %}
    <div class="db-results p-card shadow p-24">
        <div id="{{ s.code }}" class="card-btn" href="s/{{ s.code  }}">
            <i class="material-icons menu-icon fl-r blue no-hover">edit</i>
            <p class="s9 str blue m-b-0">{{ s.code }} ({{ s.quantity }})</p>
            <p class="s9 light-gray m-0">R${{ s.weighted_average_cost }} (preço médio)</p>    
        </div>
    </div>
    {% endfor %}
    <a class="btn shadow light" href="/dashboard">Voltar</a>

</div>
<script>
    const token = `{% csrf_token %}`
    const forms = `{{ form }}`
    const parag = document.querySelector('#info')
    let walletValue = 0
    let walletSize = 0

    document.querySelector('#new-purchase')
    .addEventListener("click", function() {
        addBuyingContent(token, forms)
    });
    
    '{% for s in stocks %}'
        var stock = document.querySelector('#{{ s.code  }}')
        
        stock.addEventListener("click", function() {
            addSellingContent(token, forms, '{{ s.code  }}')
        })

        walletValue += {{s.weighted_average_cost}} * {{ s.quantity }}
        walletSize += 1

        let {{ s.code }} = new StockObject(`{{ s.code }}`) 
    '{% endfor %}'

    parag.innerText = 'R$: ' + walletValue.toFixed(2) + ' - ' + walletSize + ' Empresas'
</script>
{% endblock %}