{% extends "base.html" %}
{% block title %}Carteira{% endblock %}
{% include "chart-js/chart.html"%}

{% load static %}
{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'stock-styles.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'wallet-actions.js' %}"></script>
    <script src="{% static 'wallet-overview.js' %}"></script>
    <script src="{% static 'stock-obj.js' %}"></script>
    <script src="{% static 'transaction-modals.js' %}"></script>
    <script src="{% static 'balance-modals.js' %}"></script>
    <script src="{% static 'balance-calculator.js' %}"></script>
{% endblock %}

{% block content%}
<div id="wallet" class="db-results p-card shadow p-24 m-b-24">
    <p id="reference-date" class="s8 str blue fl-r">{{ stocks.0.close_date.0 }}</p>
    <h1 id="wallet-title" class="s3 blue">Carteira</h1>
    <p id="wallet-value" class="s7 m-0">Valor</p>
    <p id="wallet-cost" class="s8 light-gray">Custo médio</p>
    <p id='balance-btn' class="light-gray s8 m-0">Clique para simular balanceamento</p>
</div>
<div class="m-b-24">
    <div id="stocks" class="m-b-12">
    </div>
    <div id="buy-btn" class="shadow p-card p-24 db-results m-b-80">
        <div class="card-btn">
            <p class="s9 str m-0 blue">Adicionar cotas</p>
            <p class="s9 m-0 light-gray">Clique aqui para adicionar</p>
        </div>
    </div>
    <div class="m-a">
        <div id="recommendations" class="m-b-24">
            <div class="m-b-24 light">
                <h2 class="s6 db-results m-b-12 txt-center">Recomendações</h1>
            </div>
        </div>
    </div>
</div>
<div class="fl-l btn-full">
    <a class="btn shadow light m-b-12" href="/recommendations">Editar recomendações</a>
</div>
<div class="fl-l btn-full">
    <a class="btn shadow light" href="/dashboard">Voltar</a>
</div>
<script>
    let stocks = {}
    '{% for s in stocks %}'
        stocks.{{ s.code }} = {
            price: {{ s.price }}, 
            quantity: {{ s.quantity }},
            value: {{ s.value }},
            recommended: `{{ s.recommended }}` == "True",
            growth: null,
            origin: 'wallet',
        }
    '{% endfor %}'
    let recommendations = {}
    '{% for m in momentum %}'
        recommendations.{{ m.code }} = {
            price: {{ m.value }},
            quantity: null,
            value: null,
            recommended: true,
            growth: {{ m.growth }},
            origin: 'recommendation',
        }
    '{% endfor %}'
    const token = `{% csrf_token %}`
    const forms = `{{ form }}`
    setupWallet()
</script>
{% endblock %}