/* Colors */
.dark {
    color: #444;
}

.light {
    color: white;
}

.light-gray {
    color: #bbb;
}

.blue {
    color: rgba(50,72,190,1);
}

.green {
    color: rgb(113, 218, 97);
}

.red {
    color: rgb(208, 26, 83);
}

.transparent-gray {
    color: rgba(50, 50, 50, 0.2);
}

.paragraph {
    color: #969696;
}