form {
    margin: 25%;
}

input {
    font-size: 21px;
    line-height: 60px;
    border-radius: 4px;
    border: none;
    margin: 6px 0 12px;
    padding: 0 12px;
    width: calc(100% - 26px);
}

label, p.db-result, .lbl{
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;

}

p.db-result {
    color: #444;
}

input[type="submit"] {
    width: 100%;
    margin: 0;
}

.half-view {
    width: 50%;
    min-width: 300px;
}

.fixed-height {
    margin: 90px 0;
    padding: 24px;
    max-width: 580px;
    height: 380px;
    overflow: scroll;
}

.db-result {
    background-color: white;
    padding: 12px;
    width: 90%;
    margin: 0 auto 6px;
    border-radius: 3px;
}

.db-result:hover {
    background-color: #eee;
}

form #input-btn {
    margin-top: 12px;
}

@media (max-width: 992px) {
    form {
        margin: 60px 6px 0;
    }
}
