/* Basic Elements */
body {
    margin: 0px;
}

input {
    font-size: 21px;
    line-height: 60px;
    border-radius: 4px;
    border: none;
    margin: 6px 0 12px;
    padding: 0 12px;
    width: calc(100% - 26px);
}

.bg {
    min-height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7");
}

.btn {
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    display: block;
    border-radius: 3px;
    color: white;
    background-color: rgba(50,72,190,1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background-color: rgb(26, 38, 107);
}

.clean-btn {
    border: none;
    background-color: transparent;
    padding: 24px;
    color: white;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.clean-btn:hover {
    background-color:rgba(0,0,0,0.15);
}

.btn.light {
    background-color: white;
    color: #444;
}

.btn.light:hover {
    background-color: #ddd;
}

.p-card {
    background-color: white;
    padding: 12px;
    border-radius: 3px;
}

.p-card:hover {
    background-color: #ddd;
}

/* Margins */

.m-0 {
    margin: 0;
}

.m-12 {
    margin: 12px;
}

.m-20-r {
    margin: 20%;
}

.m-b-6 {
    margin-bottom: 6px;
}

.m-b-12 {
    margin-bottom: 12px;
}

.m-b-24 {
    margin-bottom: 24px;
}

.p-12 {
    padding: 12px;
}

.p-24 {
    padding: 24px;
}

/* Layout */
.half-view {
    width: 50%;
    margin: auto;
    min-width: 300px;
}

@media (max-width: 992px) {
    .half-view {
        width: 100%;
    }
}

.two-thirds {
    width: 66%;
    margin: auto;
    min-width: 300px;
}

.one-third {
    width: 34%;
    margin: auto;
    min-width: 300px;
}

.fl-r {
    float: right;
}

.fl-l {
    float: left;
}

/* Styling */
.shadow {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
}

.navigation {
    z-index: 1000;
    position: fixed;
    background-color: rgba(50,72,190,1);
    padding: 0 24px;
    top: 0;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
}

.dropdown-content a{
    display: block;
    min-width: 200px;
    padding: 18px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: 900;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 0;
}

.dropdown-content a:hover{
    background-color:#ddd;
}

