body {
    margin: 0px;
}

h1 {
    margin: auto;
    font-size: 5.25em;
    color: white;
}

.flex-container {
    background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh);
    width: 100%;
}

.forms-rd, .hs-cont {
    width: 50%;
    min-width: 300px;
}

div[role=main], .forms-hs {
    margin: 30px auto;
    max-width: 480px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    border-radius: 2px;
}

@media (max-width: 992px) {
    div[role=main], .forms-hs {
        max-width: 100%;
        padding: 8px;
        margin: 0px;
    }
    .forms-rd, .hs-cont {
        width: 100%;
        margin: 8px;
    }
}