/* Basic Elements */
body {
    margin: 0px;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    margin: 200px auto 12px;
    padding: 12px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
    }
}

/* Basic Classes */
.bg {
    min-height: calc(100vh);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7");
}

.btn {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 60px;
    display: block;
    border-radius: 3px;
    margin: 12px;
    background-color: rgba(50,72,190,1);
}

.btn:hover {
    background-color: rgb(26, 38, 107);
}

.shadow {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
}