.recommendation-tag {
    position: relative;
    float: right;

    top: -24px;
    right: -24px;
    height: 69px;
    width: 6px;
    padding-top: 42px;
    border-radius: 2px;
}

.new-stock, .active-stock {
    background-color: rgba(50,72,190,1);
}

.inactive-stock {
    background-color: #bbb;
}

.active-icon {
    color: rgba(50,72,190,1);
}

.inactive-icon {
    color: #bbb;
}

.buy, .old-stock {
    background-color: rgb(113, 218, 97);
}

.sell {
    background-color: rgb(208, 68, 26);
}

.tag-title {
    position: relative;
    top: -6px;
    left: 0px;
}

@media (max-width: 992px) {
    .recommendation-tag {
        height: 48px;
        padding-top: 48px;
    }

    .tag-title {
        top: -3px;
    }
}