.fixed-height {
    max-width: 50%;
    margin: 40px 0;
}

.db-results {
    margin: 0 auto 6px;
    max-width: 432px;

}

@media (max-width: 992px) {
    .db-results {
        margin: 12px auto 0;
    }

    .fixed-height {
        max-width: 100%;
    }
}
