.summary-card {
    display: inline-block;
    height: 136px;
    max-width: 360px;
    margin: 12px;
}

.card-footer {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: -48px;
    left: -24px;
    padding: 12px 24px;
    border-radius: 2px;
    background-color: #fff;
}

.good {
    background-color: rgb(113, 218, 97);
}

.warning {
    background-color: rgb(227, 146, 16);
}

.danger {
    background-color: rgb(216, 93, 44);
}

@media (max-width: 992px) {
    .summary-card {
        position: relative;
        top: -36px;
        margin: 0;
        height: 160px;
    }

    .card-footer {
        bottom: -72px;
    }
}