.summary-card {
    display: inline-block;
    height: 180px;
    margin: 24px 12px 12px;
    width: 600px;
}

.card-footer {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: -118px;
    left: -248px;
    padding: 12px 24px;
    border-radius: 2px;
    background-color: #fff;
}

.good {
    background-color: rgb(113, 218, 97);
    /* background-image: url("https://images.unsplash.com/photo-1549490316-686f9b5d359f"); */
    /* background-size: cover;ç */
}

.warning {
    background-color: rgb(227, 146, 16);
}

.danger {
    background-color: rgb(216, 93, 44);
}

@media (max-width: 992px) {
    .summary-card {
        position: relative;
        top: 0px;
        left: 0;
        margin: 0;
        height: 200px;
        width: calc(100% - 48px);
        border-radius: 0px;
    }

    .card-footer {
        position: absolute;
        left: 0;
        bottom: 4px;
        width: calc(100% - 48px);
        border-radius: 0px;
    }
}