html {
    scroll-behavior: smooth;
}

.input-title {
    background: transparent;
    color: white;
    font-family: 'Montserrat';
    font-weight: 900;
    text-align: center;
    border: none;
}

.hide {
    display: none;
}

.summary-card {
    display: inline-block;
    margin: 24px 12px 12px;
    width: 460px;
    border-radius: 4px;
}

.chart-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.summary-card.chart-card {
    max-width: 600px;
    width: 100%;
}

@media (max-width: 992px) {
    .summary-card {
        width: calc(85% - 48px);
    }

    .chart-card {
        margin-left: 12px;
        margin-right: 12px;
    }

    .summary-card.chart-card {
        width: calc(100% - 24px);
    }
}

.card-footer {
    border-radius: 0;
    background-color: #fff;
    border-top: solid 1px #ddd;
    width: 100%;
    margin: 80px -24px -24px;
}

.card-footer.primary {
    width: 100%;
}

.card-footer.secondary {
    width: 48px;
    border-radius: 0 0 4px 0; 
}

.action-icon {
    font-size: 30px;
    height: 30px;
    position: relative;
    top:50px;
    cursor: pointer;
}

.action-icon:hover {
    background-color: rgba(0,0,0,0.15);
    border-radius: 50%;
}


@media (max-width: 992px) {
    .action-icon {
        top: -24px;
        right: -24px;
    }
}

.good {
    background-color: rgb(113, 218, 97);
}

.danger {
    background-color: rgb(216, 93, 44);
}

.generic {
    background-color: white;
}

#previous {
    background-color:white;
    color: black;
    position: fixed;
    left: 6px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

#next {
    background-color:white;
    color: black;
    position: fixed;
    right: 6px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

@media (max-width: 992px) {
    #previous, #next {
        bottom: 24px;
    }
}