#game {
    margin: auto;
}
.square {
    border: none;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 6px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    font-size: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.square:hover {
    background-color: #ddd;
}

.row {
    text-align: center;
}