{% extends "base.html" %}
{% block title %}{{ user }}{% endblock %}

{% load static %}
{% block content%}
<h1 class="s3 p-12 light txt-center m-b-24">Página inicial</h1>
<div class="m-b-24">
    <div class="txt-center m-b-12">
        <a href="/expenses" class="trigger btn m-12 light shadow">
            <div>💵</div>
            <p class="app-label">Gastos</p>
        </a>
        <a href="/wallet" class="trigger btn m-12 light shadow">
            <div class="status">💰</div>
            <p class="app-label">Investimentos</p>
        </a>
        <a href="smart-home" class="trigger btn m-12 light shadow">
            <div class="status">🏠</div>
            <p class="app-label">Smart Home</p>
        </a>
    </div>
</div>
<a class="btn shadow light" href="/logout">Sair</a>
{% endblock %}