{% extends "base.html" %}

{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'checkbox-form.css' %}">
<script src="{% static 'custom-form.js' %}"></script>
{% endblock %}

{% block Title %}Formulário Integrado{% endblock %}

{% block content %}
{% include "analytics-scripts/rd-tracking-code.html" %}
<div class="half-view fl-l m-b-24">
    <h2 class="s3 txt-center m-b-24 light">Novo contato:</h2>
    <form id="rd-int-form" class="form-group" action='/populate-personas' method="post">
        {% csrf_token %}
        {{ form }}
        <label><input type="hidden" data-privacy="true" name="privacy_policy" value="1">
            Ao informar meus dados, eu concordo com a <a href="privacy-policy-link" target="_blank">Política de Privacidade</a>.
        </label>
        <input id="input-btn" type="submit" value="Converter" class="btn shadow btn-full">
    </form>
</div>
<div class="half-view fl-r">
    <h2 class="s3 txt-center m-b-24 light">Nomes recentes</h2>
    {% for r in db_results %}
    <a id="a-{{ r.id }}" href="delete-persona/{{ r.id }}" class="db-results p-card shadow p-24">
        <i class="material-icons menu-icon fl-r dark no-hover">delete</i>
        <p id="p-{{ r.id }}" class="s9 str blue m-b-0">{{r.name}}</p>
        <p class="s9 light-gray m-0">{{r.email}}</p>
    </a>
    {% endfor %}
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
<script>
    document.querySelector("#input-btn").addEventListener("click", greetingSubmission);
    '{% for r in db_results %}'
        document.querySelector("#a-{{ r.id }}").addEventListener("mouseover", function() {handleText('{{ r.id}}')});
        document.querySelector("#a-{{ r.id }}").addEventListener("mouseout", function() {handleText('{{ r.id}}', '{{ r.name }}')});
    '{% endfor %}'
</script>
{% endblock %}