{% extends "base.html" %}

{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'custom-form-styles.css' %}">
{% endblock %}

{% block Title %}Formulário Integrado{% endblock %}

{% block content %}
<div class="half-view">
    <form id="rd-int-form" class="form-group" action='/populate-personas/' method="post">
        {% csrf_token %}
        {{ form }}
        <label>
            <input type="hidden" data-privacy="true" name="privacy_policy" value="1">
            Ao informar meus dados, eu concordo com a <a href="privacy-policy-link" target="_blank">Política de Privacidade</a>.
        </label>
        <input id="input-btn" type="submit" value="Converter" class="btn shadow btn-full">
    </form>
</div>
<div class="half-view fixed-height">
    <h2 class="s4 str txt-center m-b-24 light">Nomes recentes</h2>
    {% for r in db_results %}
    <div class="db-results p-card shadow p-24">
        <p class="s9 str blue m-b-0">{{r.name}}</p>
        <p class="s9 light-gray m-0">{{r.email}}</p>
    </div>
    {% endfor %}
</div>
<script>
    document.getElementById("input-btn").addEventListener("click", greeting);
</script>
{% endblock %}