{% extends "base.html" %}
{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'form-styles.css' %}">
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- RD Station Form -->
  <div class="half-view fl-l">
  <div role="main" class= "shadow forms-rd" id="form-1-133b439efdb25fa943f0"></div>
  <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
  <script type="text/javascript"> new RDStationForms('form-1-133b439efdb25fa943f0', 'UA-160266184-1').createForm();</script>
</div>
<!-- End RD Station Form -->
<!-- Hubspot Form -->
<div class="half-view fl-r">
  <div class="forms-hs shadow">
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
      portalId: "6629407",
      formId: "9c831abf-5fbd-4782-a2da-350a759923e8"
    });
    </script>
  </div>
  <div id="removeCookies" class="btn m-b-24 txt-center shadow">Remover cookies da Hubspot</div>
</div>
<script>
  var _hsp = window._hsp = window._hsp || [];
    document.getElementById("removeCookies").onclick = function() {
    _hsp.push(['revokeCookieConsent']);
  };
</script>
<!-- End Hubspot Form -->
{% endblock %}
