<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="https://test-project-production.s3-sa-east-1.amazonaws.com/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://test-project-production.s3-sa-east-1.amazonaws.com/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://test-project-production.s3-sa-east-1.amazonaws.com/images/favicon_io/favicon-16x16.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'colors.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tables.css' %}">
        <script src="{% static 'actions.js' %}"></script>
        {% block extra-css %}{% endblock %}
        {% block extra-js %}{% endblock%}

        {% include "analytics-scripts/cookiebot-script.html" %}
        {% include "analytics-scripts/facebook-pixel.html" %}
        {% include "analytics-scripts/adopt.html" %}
        {% include "analytics-scripts/ga_head.html" %}
        {% include "analytics-scripts/gtm_head.html" %}
        {% include "analytics-scripts/google_ads.html" %}

        <title>{% block title %}{% endblock %}</title>
        <script>
            fbq('PageView', {content_type: "web page"});
        </script>
    </head>
    <body>
        {% include "global-navigation.html" %}
        <div class="flex-container bg">
            <div class="default-margin-bg">
                {% include "analytics-scripts/rd-tracking-code.html" %}
                {% include "analytics-scripts/hs-tracking-code.html" %}
                {% include "analytics-scripts/gtm-body.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
