<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'colors.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{% static 'actions.js' %}"></script>
        {% block extra-css %}{% endblock %}
        {% block extra-js %}{% endblock%}
      
        {% include "analytics-scripts/cookiebot-script.html" %}
        {% include "analytics-scripts/ga_head.html" %}
        {% include "analytics-scripts/gtm_head.html" %}
      
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include "global-navigation.html" %}
        <div class="flex-container bg">
            {% include "analytics-scripts/rd-tracking-code.html" %}
            {% include "analytics-scripts/gtm-body.html" %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
