{% extends "base.html" %}

{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'custom-form-styles.css' %}">
{% endblock %}
{% block Title %}Formulário Integrado{% endblock %}
{% block content %}
<div class="flex-container bg">
    <div class="half-view">
        <form action='/populate-personas/' method="post">
            {% csrf_token %}
            {{ form }}
            <input id="input-btn" type="submit" value="Converter" class="btn shadow">
        </form>
    </div>
    <div class="half-view fixed-height">
        <p class="lbl txt-center m-b-12 dark">Últimos nomes adicionados</p>
        {% for r in db_results %}
        <div class="db-result shadow">
            <p class="info">{{r.name}}</p>
            <p class="light">{{r.email}}</p>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.getElementById("input-btn").addEventListener("click", greeting);
</script>
{% endblock %}