{% extends "base.html" %}

{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'custom-form-styles.css' %}">
{% endblock %}
{% block Title %}Formulário Integrado{% endblock %}
{% block content %}
<div class="flex-container bg">
    <div class="half-view">
        <form action='/populate-personas/' method="post">
            {% csrf_token %}
            {{ form }}
            <!-- <input type="email" id="femail" placeholder="Email"><br> -->
            <!-- <input type="text" id="fname" placeholder="Name"><br><br> -->
            <input id="input-btn" type="submit" value="Converter" class="btn shadow">
        </form>
    </div>
    <div class="half-view fixed-height">
        <p class="lbl txt-center m-b-12">Últimos nomes adicionados</p>
        {% for r in db_results %}
        <p class="db-result shadow">{{r.name}}
            <span class="fl-r light">{{r.created_at}}</span>
        </p>
        {% endfor %}
    </div>
</div>
<script>
    document.getElementById("input-btn").addEventListener("click", guigo);
</script>
{% endblock %}