<div class="navigation shadow">
    <button class="menu-btn" onclick="location.href='/'">
        <i class="material-icons menu-icon">home</i>
    </button>
    <div class="dropdown">
        <button class="dropbtn menu-btn">Páginas</button>
        <div class="dropdown-content shadow">
            <a href="/">Menu</a>
            <a href="/embed-form/">Formulário Embed</a>
            <a href="/custom-form/">Formulário Integrado</a>
            <a href="https://testeguilhermegoncalves.000webhostapp.com/sample-page">WordPress</a>
            <a href="/tictactoe/">Tic tac toe</a>
            
        </div>
    </div>
    <button class="menu-btn fl-r" onclick="location.href='/login/auth0'">
        <i class="material-icons menu-icon">lock</i>
    </button>
</div>