<div class="navigation shadow">
    <button class="clean-btn" onclick="location.href='/'">Logo</button>
    <div class="dropdown">
        <button class="dropbtn clean-btn">Páginas</button>
        <div class="dropdown-content shadow">
            <a href="/cta/">Menu</a>
            <a href="/custom-form/">Formulário Embed</a>
            <a href="/">Formulário Integrado</a>
            <a href="/tictactoe/">Tic tac toe</a>
            <a href="/trk">API Test</a>
        </div>
    </div>
</div>