<div class="navigation shadow">
    <button class="menu-btn" onclick="location.href='/'">
        <i class="material-icons menu-icon">home</i>
    </button>
    <div class="dropdown">
        <button class="dropbtn menu-btn">Páginas</button>
        <div class="dropdown-content shadow">
            <a href="/">Menu</a>
            <a href="/embed-form/">Formulário Embed</a>
            <a href="/custom-form/">Formulário Integrado</a>
            <a href="/tictactoe/">Tic tac toe</a>
            <a href="/api-name/">Nome RD</a>
        </div>
    </div>
</div>