{% extends "base.html" %}
{% block title %}Página inicial{% endblock %}
{% block content %}
  <h1 class="s1 p-12 light txt-center">Site de Testes</h1>
  <a class="btn shadow m-b-12" href="/custom-form">Ver Form integrado</a>
  <a class="btn shadow m-b-12 light" href="/embed-form">Ver Form Embed</a>
  <a class="btn shadow m-b-12 light" href="https://testeguilhermegoncalves.000webhostapp.com/sample-page">Wordpress</a>
  <a class="btn shadow m-b-12 light" href="/tictactoe">Tic tac toe</a>
{% endblock %}
