{% extends "base.html" %}
{% block Title %}Pin{% endblock %}
{% block content %}
<div class="min-scroll w-300">
    <h1 class="s3 p-12 light txt-center">Cadastrar assistente</h1>
    <form id="pin-form" class="form-group-compact" action='/populate-microcontroller/' method="post">
        {% csrf_token %}
        {{ form }}
        <input id="input-btn" type="submit" value="Cadastrar" class="btn shadow btn-full">
    </form>
    <a class="btn shadow light" href="/dashboard">Voltar</a>
</div>
{% endblock %}