{% extends "base.html" %}
{% block Title %}Configurações{% endblock %}
{% load static %}
{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'relay-configs.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'checkbox-form.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'relay-configs.js' %}"></script>
{% endblock %}
{% block content%}
<div class="w-300 m-a">
    <h1 class="s3 p-12 light txt-center">Atualizar {{ microcontroller.name }}</h1>
    <form class="form-group-compact" action='/update-pins' method="post">
        {% csrf_token %}
        {{ form }}
        <input id="input-btn" type="submit" value="Atualizar" class="btn shadow btn-full">
    </form>
    <a class="btn shadow light" href="/smart-home">Voltar</a>
    <script>
        let pins = {}
        '{% for device in microcontroller.device %}'
                let {{ device.pin}} = new pinObject('{{ device.id }}','{{ device.pin }}','{{ device.name }}','{{ device.active }}')
                pins['{{ device.pin }}'] = {{ device.pin }}
        '{% endfor %}'
        startListener(pins, '{{ first_pin }}')
    </script>
</div>
<div class="footer-btn fl-r">
    <a class="btn light m-b-12" href="/">Início</a>
</div>
{% endblock %}