{% extends "base.html" %}
{% block Title %}Configurações{% endblock %}
{% load static %}
{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'relay-configs.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'relay-configs.js' %}"></script>
{% endblock %}
{% block content%}
<div class="min-scroll w-300">
    <h1 class="s3 p-12 light txt-center">Atualizar Tomadas</h1>
    <form class="form-group-compact" action='/update-pins/' method="post">
        {% csrf_token %}
        {{ form }}
        <input id="device_id" name="device_id" type="hidden" value="">
        <input id="input-btn" type="submit" value="Atualizar" class="btn shadow btn-full">
    </form>
    <script>
        let pins = {}
        '{% for d in devices %}'
            let {{ d.pin}} = new pinObject('{{ d.id }}','{{ d.pin }}','{{ d.name }}','{{ d.active }}')
            pins['{{ d.pin}}'] = {{ d.pin }}
        '{% endfor %}'
        startListener(pins)
    </script>

    <a class="btn shadow light" href="/dashboard">Voltar</a>
</div>
{% endblock %}