{% extends "base.html" %}
{% block Title %}Configurações{% endblock %}
{% load static %}
{% block extra-css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'relay-configs.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'relay-configs.js' %}"></script>
{% endblock %}
{% block content%}
<div class="min-scroll w-300">
    <h1 class="s3 p-12 light txt-center">Atualizar {{ microcontroller.0.mname }}</h1>
    <form class="form-group-compact" action='/update-pins/' method="post">
        {% csrf_token %}
        {{ form }}
        <input id="input-btn" type="submit" value="Atualizar" class="btn shadow btn-full">
    </form>
    <script>
        let pins = {}
        '{% for device in microcontroller %}'
                let {{ device.pin}} = new pinObject('{{ device.id }}','{{ device.pin }}','{{ device.name }}','{{ device.active }}')
                pins['{{ device.pin }}'] = {{ device.pin }}
        '{% endfor %}'
        startListener(pins, '{{ first_pin }}')
    </script>
    <a class="btn shadow light" href="/dashboard">Voltar</a>
</div>
{% endblock %}