{% extends "base.html" %}
{% block title %}Configurações{% endblock %}
{% load static %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'relay-control.css' %}">
{% endblock %}
{% block content%}
    <div class="p-12 m-b-24 m-a w-300">
        <h1 class="s3 light txt-center m-b-12">Configurações</h1>
        <p class="light txt-center">Envie o token abaixo para os usuários que você quer permitir que controlem os seus dispositivos.</p>
        <p class="s8 p-12 token light txt-center m-b-24">{{ token }}</p>
    </div>
<a class="btn shadow m-b-12" href="/add-microcontroller/">Novo controle</a>
<a class="btn shadow light" href="/dashboard">Voltar</a>
{% endblock %}