{% extends "base.html" %}
{% block title %}Smart home{% endblock %}
{% load static %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'relay-control.css' %}">
{% endblock %}
{% block extra-js %}
    <script src="{% static 'relay-control.js' %}"></script>
{% endblock %}
{% block content%}
<h1 class="s3 p-12 light txt-center m-b-24">Smart Home</h1>
<div class="m-b-24">
    {% for m in microcontrollers %}
        <div class="apps lateral-scroll m-b-12">
            <a class="seal s-8 btn m-12 rotate" href="m/{{ m.token}}"><div>{{ m.name }}</div></a>
            {% for d in m.device %}
            {% if d.active == True %}
                <div id="p{{ d.id }}" class="trigger btn m-12 light shadow">
                    <div class="status"></div>
                    <p class="app-label">{% if d.name == '' %}Sem nome{% else %}{{ d.name }}{% endif %}</p>
                </div>
            {% else %}
                <a id="empty-{{ m.token }}" class="trigger btn m-12 transparent-gray" href="m/{{ m.token }}/device?pin={{ d.pin }}"><div class="status">+</div></a>            
            {% endif %}
            {% endfor %}
            <a id="configs-unset" class="trigger btn m-12 transparent-gray" href="m/{{ m.token }}">
                <div class="status">🔧</div>
                <p class="app-label light">Ajustes</p>
            </a>
        </div>
    {% endfor %}
</div>
<a class="btn shadow light m-b-12" href="/settings">Configurações</a>
<a class="btn shadow light" href="/">Voltar</a>
    <script>
        '{% for m in microcontrollers %}'
            '{% for d in m.device %}'
                '{% if d.active == True %}'
                    let p{{ d.id }} = new BlynkObject('{{ m.token }}', '{{ d.pin }}', 'p{{ d.id }}')
                '{% endif %}'
            '{% endfor %}'
        '{% endfor %}'
    </script>
{% endblock %}